@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Arial", sans-serif;
  color: #545454;
}

.material-icons {
  font-size: 1rem;
}

nav img {
  object-fit: cover;
}

.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit (Chrome, Safari) */
}